<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>我的订单</string>
		<key>image</key>
		<string>icon_mine_order</string>
		<key>controller</key>
		<string>KZOrderManagerVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的账户</string>
		<key>image</key>
		<string>icon_mine_money</string>
		<key>controller</key>
		<string>KZMyMoneyVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>邀请好友</string>
		<key>image</key>
		<string>icon_mine_apply_friend</string>
		<key>controller</key>
		<string>KZApplyFriendsVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>代注册</string>
		<key>image</key>
		<string>icon_mine_register</string>
		<key>controller</key>
		<string>BPRegisterVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>合伙人认证</string>
		<key>image</key>
		<string>icon_mine_confirm</string>
		<key>controller</key>
		<string>KZConfirmHeHuoRenVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>收货地址管理</string>
		<key>image</key>
		<string>icon_mine_address</string>
		<key>controller</key>
		<string>KZMyAddressVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的区域</string>
		<key>image</key>
		<string>icon_mine_areas</string>
		<key>controller</key>
		<string>KZMyAreasVC</string>
	</dict>
	<dict>
		<key>title</key>
		<string>我的设置</string>
		<key>image</key>
		<string>icon_mine_setting</string>
		<key>controller</key>
		<string>KZSettingVC</string>
	</dict>
</array>
</plist>
